@import '~normalize.css';

@import './twinkle.css';

$accent: #c71014;
$textColorPrimary: rgba(0, 0, 0, 0.84);
$textColorPrimaryDark: rgba(255, 255, 255, 0.84);

body {
  font-family: Abel, Cursive;
  font-size: 14px;
  color: $textColorPrimary;
  @media only screen and (max-width: 720px) {
    font-size: 12px;
  }
}

a {
  color: $accent;
  transition: color 0.2s linear;
  text-decoration: none;
  &:hover {
    color: lighten($accent, 10%);
  }
}

/*
 * Core
 */

.tbm-container {
  max-width: 960px;
  margin: 0 auto;

  @media only screen and (max-width: 960px) {
    max-width: 700px;
  }
}

.tbm-grid {
  display: flex;
  margin-left: -40px;
  justify-content: space-between;
  @media only screen and (max-width: 720px) {
    display: block;
    margin-left: auto;
    margin-top: -30px;
  }
}

.tbm-grid-item {
  margin-left: 40px;
  @media only screen and (max-width: 720px) {
    margin-left: auto;
    margin-top: 30px;
  }

  &.align-vertical {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
}

/*
 * Layout
 */

.tbm-header {
  background: #fff;
  text-align: center;
}

.tbm-footer {
  padding: 70px 0 40px 0;
  p {
    margin: 0;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 720px) {
    text-align: center;
  }
}

.tbm-love {
  opacity: 0.8;
  font-size: 0.8rem;
}

/*
 * hero
 */

.tbm-hero {
  font-size: 3rem;
  font-weight: 200;
  color: $textColorPrimaryDark;
  padding: 40px;
  margin: 40px 0;
  &,
  & > * {
    position: relative;
  }
  p {
    line-height: 1.3;
    margin: 0;
    margin-bottom: 40px;
    @media only screen and (max-width: 720px) {
      margin-bottom: 30px;
    }
  }
  @media only screen and (max-width: 960px) {
    font-size: 2.4rem;
  }
  @media only screen and (max-width: 720px) {
    font-size: 2.1rem;
    padding: 30px;
    margin: 30px 0;
  }
}

.tpm-album {
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
  transition: all 0.2s linear;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  @media only screen and (max-width: 960px) {
    width: 300px;
    height: 300px;
  }
  @media only screen and (max-width: 320px) {
    width: 240px;
    height: 240px;
  }
}

.tpm-album-twinkle {
  position: absolute;
  top: 24.5%;
  left: 45.5%;
  @media only screen and (max-width: 960px) {
    width: calc(100px / 1.333);
    height: calc(100px / 1.333);
  }
  @media only screen and (max-width: 320px) {
    width: calc(100px / 1.66);
    height: calc(100px / 1.66);
  }
}

.tbm-hero-backdrop {
  background: rgba(0, 0, 0, 0.7) url('./images/backdrop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(80%) brightness(0.3);
}

/*
 * Logo
 */

.tbm-logo {
  font-size: 20px;
  text-align: center;
  color: $accent;
  display: inline-block;
  font-display: block;
  transition: all 0.2s linear;
  @media only screen and (max-width: 720px) {
    font-size: 14px;
  }
}

.tbm-logo-tiny {
  font-size: 2.7em;
  line-height: 0.75em;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  color: $textColorPrimary;
  position: relative;
  &:before,
  &:after {
    background: $accent;
    width: 25%;
    height: 1px;
    content: ' ';
    position: absolute;
    top: 50%;
    margin-top: 0.15em;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.tbm-logo-baby {
  text-transform: uppercase;
  font-size: 3em;
  line-height: 0.9em;
  font-family: 'Bungee Shade', sans-serif;
}

.tbm-logo-men {
  text-transform: uppercase;
  font-size: 3.85em;
  line-height: 0.9em;
  font-family: 'Bungee Shade', sans-serif;
}

/*
 * Button
 */

.tbm-button {
  font-size: 1.5rem;
  color: lighten($textColorPrimary, 10%);
  border: 2px lighten($textColorPrimary, 50%) solid;
  padding: 12px 20px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  transition: all 0.3s linear;
  display: inline-block;
  @media only screen and (max-width: 960px) {
    padding: 8px 12px;
    font-size: 1.2rem;
  }
  svg {
    width: 25px;
    height: 25px;
    margin-top: -5px;
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
  }
  &:hover {
    color: $textColorPrimary;
  }
  .tbm-hero & {
    color: darken($textColorPrimaryDark, 10%);
    border-color: darken($textColorPrimaryDark, 50%);
    &:hover {
      color: $textColorPrimaryDark;
    }
  }
  &:hover {
    border-color: $accent;
  }
}

/*
 * Profile
 */

.tbm-profiles {
  padding-top: 20px;
}

.tbm-profile {
  text-align: center;
  font-size: 1.2rem;
  svg {
    height: 25px;
    width: 25px;
    fill: currentColor;
    vertical-align: middle;
    transition: transform 0.2s linear;
  }
  a {
    &:hover svg {
      transform: translateY(-5px);
    }
  }
}

.tbm-profile-photo {
  width: 150px;
  height: 150px;
  display: inline-block;
  padding: 4px;
  margin-bottom: 15px;
  border: 2px $accent solid;
  border-radius: 100%;
  transition: all 0.1s linear;
  &:hover {
    transform: scale(1.1);
  }
  @media only screen and (max-width: 720px) {
    width: 100px;
    height: 100px;
  }
}

.tbm-profile-name {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 5px;
}
